# note, you set these only if you wanna run it by hand
# if not, set the same in github actions env vars


# ur user name & pass
export NV_ENERGY_USER="xxx"
export NV_ENERGY_PASS="xxx"

# get these by looking in the console when you're logged in; it's just from one of the json requests
export NV_ENERGY_METER_NUMBER="CCxxxx"
export NV_ENERGY_ACCOUNT_NUMBER="xxxxx"
